# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
pip-wheel-metadata/

# Flask
instance/
*.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Frontend
node_modules/
